h1= title
div.person
    div.title= person.title
    div.person
        div.created_at= person.created_at
        div.firstname 
            a(href="/people/"+person._id)!= person.firstname
        div.lastname= person.lastname
        div.birthdate= person.birthdate
        .middlename= person.middlename
        #maternalname= person.maternalname
